@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://bostami-bootstrap-nextjs.vercel.app/assets/img/bg/page-bg-1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

/* Additional class for Roboto Slab font */
.roboto-slab {
    font-family: "Roboto Slab", sans-serif;
}